.main {
  max-width: 700px;

  margin: -100px auto 0px;
  padding: 40px 60px;
  width: 100%;

  position: relative;
  z-index: 1;

  background-color: white;
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(128, 0, 128, 0.212);
}

@media (max-width: 760px) {
  .main {
    padding: 20px 40px;
    width: 80%;
  }
}
